a.nav-plain {
  color: black!important;
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.student-box {
  padding: 5px 10px 5px 10px;
  margin: 5px;
  background-color: rgb(188, 188, 188);
  border: 1px solid rgb(65, 65, 65);
  border-radius: 8px;
}

.delete-button {
  margin-left: 10px;
}

.list-spacing {
  padding: 20px;
}

.student-drag-here {
  padding: 5px 10px 5px 10px;
  margin: 5px;
  background-color: rgb(229, 229, 229);
  border: 1px solid rgb(185, 185, 185);
  border-radius: 8px;
}

.side-padding {
  padding-left: 20px;
  padding-right: 20px;
}